/assets/gifs/A.mp4
/assets/originalbackground.png
/assets/logo.png
/assets/background2.png
/assets/background1.png
/assets/gifs/x.mp4
node_modules/
.env
notes
/assets/info.svg
/assets/bgmobileo.jpg
/assets/bgtabo.jpg
/assets/bgtablo.jpg
/assets/bgmobilepo.jpg
/assets/USL *

